body {
    background-image: url('/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #fff; /* Use #fff if background is dark */
}
.carousel-container{
    margin-bottom: 150px;
    padding-top: 80px;
}
/* HERO layout */
.carousel-wrapper-layout-Hero .movie-card img {
    width: 900px;
    height: 380px;
    border-radius: 10px;
}

/* Other layout */
.carousel-wrapper-layout-List5TopW .movie-card img {
    width: 210px;
    height: 300px;
    border-radius: 15px;
}

/* Default layout */
.carousel-wrapper-layout-List5Items .movie-card img {
    width: 210px;
    height: 300px;
    border-radius: 15px;
}

/* Default layout */
.carousel-wrapper-layout-List5Org .movie-card img {
    width: 580px;
    height: 330px;
    border-radius: 10px;
}

/* Common styles */
.movie-card {
    display: inline-block;
    margin: 0 10px;
    text-align: center;
}

.carousel {
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 10px;
    margin-left: 50px;
}

.carousel::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
.carousel-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-right: 30px;
}

.view-all-link {
    color: yellow;
    font-size: 16px;
    text-decoration: none;
    font-weight: 750;
    padding-right: 30px;
}

.carousel-title {
    margin: 10px 0px 10px 60px;
    font-size: 1.4rem;
}
.carousel-wrapper {
    position: relative;
}

.carousel-wrapper .carousel-btn {
    display: none;
    position: absolute;
    top: 50%;
    background-color: #004050;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
    user-select: none;
    z-index: 10;
    transition: background-color 0.3s ease;
}

/* ✅ Only show buttons when hovering over the current carousel-wrapper */
.carousel-wrapper:hover .carousel-btn {
    display: block;
}

.carousel-wrapper .carousel-btn:hover {
    background-color: rgba(0,0,0,1);
}

.carousel-btn.prev-btn {
    left: 80px;
}

.carousel-btn.next-btn {
    right: 80px;
}